Source: ros-kilted-proxsuite
Section: misc
Priority: optional
Maintainer: Justin Carpentier <justin.carpentier@inria.fr>
Build-Depends: debhelper (>= 9.0.0), cmake, doxygen, git, libeigen3-dev, libmatio-dev <!nocheck>, python3-numpy, python3-scipy, ros-kilted-ros-workspace
Homepage: https://simple-robotics.github.io/proxsuite
Standards-Version: 3.9.2

Package: ros-kilted-proxsuite
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, python3-numpy, python3-scipy, ros-kilted-ros-workspace
Description: The Advanced Proximal Optimization Toolbox
